.container-global-details {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: #09090a; */
    background-color: #18181b;
}

.details-container {
    width: 90%;
    height: 90%;
    background-size: auto 90%;
    background-position: bottom left;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(1);
}

.details-container::before {
    content: "";
    /* background-color: #09090ad4; */
    background-color: #18181bd4;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.container-back-details {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;align-items: center;
}

.details-true-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90%;
}

.container-detalles-pokemon {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-pokemon-details {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

.info-pokemon-details h1 {
    font-size: 4rem;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 0;
    text-transform: capitalize;
    opacity: 0;
    animation: fadeInUp 0.5s ease-out 0.2s forwards;
}

.description-pokemon {
    width: 100%;
    opacity: 0;
    animation: fadeInUp 0.5s ease-out 0.3s forwards;
}

.description-pokemon p {
    font-size: 1.1rem;
    text-align: left;
    width: 100%;
    margin: 0%;
}

.experience-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeInUp 0.5s ease-out 0.3s forwards;
}

.ex-name-container {
    font-size: 1.5rem;
    margin-right: 1rem;
    font-weight: bold;
}

.ex-circle-num-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ex-num {
    position: absolute;
    font-weight: bold;
    letter-spacing: 1px;
}

.stats-pokemon-container {
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    /* background: #00000096; */
    /* background: #ffffffc7;
    color: #000; */
    font-weight: bolder;
    border-radius: 1rem;
    padding: 0.5rem 0 0.5rem;
    opacity: 0;
    animation: fadeInUp 0.5s ease-out 0.4s forwards;
}

.card-stat {
    padding: 0.5rem 0;
    border-radius: 2rem;
    /* background: #fff; */
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

/* .card-stat span {
    padding: 0 8px;
} */

.images-evoluciones-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    animation: fadeInUp 0.5s ease-out 0.5s forwards;
}

.name-evolution p {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 1rem;
    font-weight: bold;
}

.all-evolutions-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-evolucion {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.img-evolucion img {
    width: 100%;
}

.img-evolucion p {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 8px 3px 8px;
}

.pokemon-seleccionado {
    background: #fff;
    border-radius: 1rem;
    color: #000;
    font-weight: bold;
}

.card-view-pokemon-details {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-pokemon-container-details {
    width: 50%;
    border: 5px solid #ffffff9e;
    border-radius: 1rem;
    padding: 3rem 0 4rem 0;
    opacity: 0;
    animation: fadeInLeft 0.5s ease-out 0.2s forwards;
    position: relative;
}

.img-pokemon-container-details img {
    width: 100%;
    filter: drop-shadow(0px 20px 2px #0000006c);
}

.img-pokemon-next-container-details {
    width: 30%;
    /* border: 5px solid #ffffff9e; */
    border-radius: 1rem;
    padding: 2rem 0 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter: grayscale(1); */
    position: relative;
    opacity: 0;
    animation: fadeInLeft 0.5s ease-out 0.3s forwards;
}

/* .img-pokemon-next-container-details::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 1rem;
} */

.img-pokemon-next-container-details img {
    width: 100%;
    filter: contrast(0);
    transition: 0.7s all ease;
}

.img-pokemon-next-container-details img:hover {
    cursor: none;
    filter: none;
    transition: 1s all ease;
}

.viewname-nextpokemon {
    position: absolute;
    color: #181819;
    font-size: 1.1rem;
    bottom: -30px;
    transition: 0.5s all ease;
    text-transform: capitalize;
    font-family: 'Quicksand', sans-serif;
}

.img-pokemon-next-container-details img:hover ~ .viewname-nextpokemon {
    color: #fff;
    transition: 0.5s all ease;
}

/* .img-pokemon-next-container-details:hover::before {
    content: "Es Pikachu";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
    color: #fff;
    transition: 2s all ease;
} */

.container-tipospokemon {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    left: 0;
    top: -40px;
}

.icono-tipopokemon {
    width: 40px;
    height: 40px;
    margin: 0.5rem;
    padding: 10px;
    border-radius: 5rem;
    border: 3px solid #ffffff9e;
}

.icono-tipopokemon img {
    width: 100%;
    filter: none !important;
}

.img-questionpokemon {
    width: 100%;
    /* border: 5px solid #0b599a; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

#pokemonimg-carddetails {
    width: 150px;
    filter: none;
    rotate: -3deg;
    cursor: default;
    padding-bottom: 1rem;
}

#questionimg-carddetails {
    width: 35px;
    rotate: 20deg;
    filter: none;
    cursor: default;
}

.btn-anterior-siguiente {
    background: #3896f7;
    color: #fff;
    border: none;
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: 0px solid #3896f7;
    transition: 0.1s all ease;
}

.btn-anterior-siguiente:not([disabled]):hover {
    outline-width: 4px;
    outline-offset: 4px ;
    transition: 0.1s all ease;
    transform: scale(1.1);
}

.btn-anterior-siguiente:disabled {
    transition: none;
    background: gray;
    cursor: not-allowed;
}

.btn-anterior-siguiente svg {
    font-size: 2.5rem;
}

.btn-back-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.btn-back {
    margin: 2rem;
    background: #FF8811;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.2rem 1rem 1rem;
    outline: 0px solid #FF8811;
    transition: 0.1s all ease;
}

.btn-back:hover {
    outline-width: 4px;
    outline-offset: 4px ;
    transition: 0.1s all ease;
    background: #fff;
    color: #FF8811;
}

.btn-back svg {
    font-size: 1.8rem;
}

.btn-back span {
    margin-left: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(60px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}




@media screen and (max-width: 991px) {
    .container-global-details {
        height: auto;
        padding-bottom: 2rem;
        padding-top: 8rem;
        /* padding-bottom: 450px; */
    }

    .details-true-container {
        height: auto;
        position: relative;
    }

    .container-detalles-pokemon {
        width: 100%;
        height: auto;
        flex-direction: column-reverse;
    }

    .info-pokemon-details {
        width: 100%;
        height: auto;
        padding: 0%;
    }

    .info-pokemon-details h1 {
        width: 100%;
        text-align: center;
        font-size: 2.5rem;
    }

    .description-pokemon {
        width: 90%;
    }

    .description-pokemon p {
        text-align: justify;
    }

    .card-view-pokemon-details {
        width: 100%;
        flex-direction: column;
    }

    .img-pokemon-next-container-details {
        /* position: absolute;
        bottom: -450px;
        margin-bottom: 2rem;
        width: 60%; */
        display: none;
    }

    .btn-anterior-container {
        position: absolute;
        top: 100px;
        left: 0;
        padding: 1.1rem;
        z-index: 2;
    }
    
    .btn-siguiente-container {
        position: absolute;
        top: 100px;
        right: 0;
        padding: 1.1rem;
        z-index: 2;
    }

    .btn-anterior-siguiente {
        width: 3rem;
        height: 3rem;
    }

    .details-container {
        width: 100%;
        background-image: none !important;
        background-size: contain;
        background-position: left center;
        position: absolute;
    }

    .stats-pokemon-container {
        grid-template-columns: 90%;
        justify-content: center;
    }

    .description-pokemon {
        margin: 1rem 0;
    }

    .experience-container {
        margin: 1rem 0;
    }

    /* .images-evoluciones-container {
        flex-direction: column;
    } */

    .all-evolutions-container {
        flex-direction: column;
    }

    .container-back-details {
        position: static;
    }

    .img-evolucion {
        width: 40%;
    }

    #arrow-evolution {
        rotate: 90deg;
    }

    .btn-back {
        margin: 1rem;
        padding: 0.6rem 0.8rem 0.6rem 0.6rem;
    }

    .name-evolution p {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
}