html {
    scroll-behavior: smooth;
}  

.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
    padding: 30px 0px;
    z-index: 99;
}

.header-nav.down {
    background: #fff;
    padding: 12px 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.container-logo-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
}

.logo-nav {
    width: 150px;
    cursor: pointer;
}

.container-search-home {
    width: 20%;
    margin-right: 5rem;
    display: flex;
    align-items: center;
}

#search-input {
    width: 100%;
    border: 1px solid #f0f2f5;
    background: #f0f2f5;
    color: #050505;
    border-radius: 50px;
}

.header-nav.down .name-logo-nav,
.header-nav.down .nav-nav ul li a {
    color: #000;
}

.header-nav.down #btn-menu {
    color: #000;
}


@media screen and (max-width: 991px) {
    .header-nav {
        justify-content: space-between;
    }
  }



@media screen and (max-width: 575px) {
    .header-nav {
        background-color: rgba(253, 255, 252, 0);
        padding: 20px 0;
    }
    
    .header-nav.down {
        padding: 10px 0px;
    }
    
    .container-logo-nav {
        margin: 0;
    }

    .logo-nav {
        width: 120px;
        margin-left: 1rem;
    }

    .container-search-home {
        margin: 0;
        width: 50%;
        margin-right: 1rem;
    }
}