.container-global-type {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to bottom, #66ccff, #5effb9); */
    background-attachment: fixed;
}

#nav-type {
    width: 100%;
    background: none;
    border: none;
    box-shadow: none;
    padding: 0 !important;
}

.nametype-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 3; */
}

.nametype-container h1 {
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
}

.container-btn-name-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-close-type {
    position: absolute;
    left: 2rem;
    /* z-index: 4; */
}

.container-pokemonestype {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

@media screen and (max-width: 991px) {
    .container-pokemonestype {
        width: 100%;
    }
}